html,
body,
#root {
    height: 100%;
    margin: 0;
}

.listpage {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1d2b39;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto;
    background-color: #1d2b39;
}